/*Google Fonts*/
.shadows-font {
	font-family: 'Shadows Into Light', cursive;
}

.audio-font {
	font-family: 'Audiowide', cursive;
}

/*Adding style to the Comments posted by user*/
h5 {
	margin: 15px 0 0 0;
	font-size: 26px;
	/*font-weight: bold;*/
	/*text-decoration: underline;*/
	color: #fff;
	text-shadow: 2px 2px 1px #000;
}

/*styling the p tag only*/
p {
	font-weight: bold;
	font-size: 24px;
	color: #000;
	background: rgba(255, 255, 255, .6);
	max-width: 350px;
	border-radius: 10px;
	margin: 0 50px 10px 50px;
	word-wrap: break-word; 
}

/*changing the font size of the date*/
h6 {
	font-size: 13px;
	color: #fff;
	margin: 10px 50px;
	text-shadow: 1px 2px 1px #000;
}
/*Making the form appearance better*/
input, textarea, button {
	margin-top: 20px;
}

h1 {
	color: #fff;
	text-shadow: 2px 2px 1px #000;
}

/*Adding a background to the whole page*/
body {
	background-image: url("../img/background.jpeg");
	background-size: cover;
	max-height: 1000px;
	/*background-repeat: no-repeat;*/
}
/*changing the size of the inputs*/
input {
	width: 90%;
	max-width: 500px;
}
textarea {
	width: 90%;
	min-height: 80px;
	max-width: 500px;
}
/*changing the style of the button*/
button {
	width: 200px;
	margin-bottom: 15px;
}

/*changing the img size*/
img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	object-fit: cover;
	box-shadow: 2px 15px 15px #000;
}

/*making the prompt display none*/
#promptName {
	display: none;
}